:root {

    /* PHOTO & NAMES & SPEC */
    --photo-fullname-dir: row;
    --photo-width: 128px;
    --photo-height: 128px;
    --fullname-width: 1fr;
    --fullname-mgin-top: 60%;
    --photo-fullname-bdr: 1px solid lightslategrey;
    --main-block-max-width: 100% !important;

    /* MODE SECTION */
    --mode-ico-col: calc(var(--photo-width) - 58px) ; /*|| var(--photo-width)*/
    --mode--ico-width: 24px;

    /* PERSONAL INFO */
    --pract-item-orient: row;
    --personal-info-width: 50% !important;
    --pract-info-orientation: column;

    /* LICENSE & ADDRESS  */
    --license-addr-colwidth: max-content;
    --license-addr-colalign: right;
    --main-licenseBlock-width: 100% !important;
    --license-block-dir: column-reverse;
    --license-block-bdr: 0px;
    --license-block-pdin: 0px;
}

@media screen and (max-width: 720px) {
    :root {
        /* PERSONAL INFO SECTION */
        --personal-info-width: 100% !important;
        --pract-item-orient: column;
        --pract-info-orientation: row;
        --main-block-max-width: max-content;

        --photo-fullname-dir: column;
        /* MODE AREA */

        /* LICENSE & ADDR */
        --license-addr-colwidth: min-content;
        --license-addr-colalign: left;
        --main-licenseBlock-width: 50% !important;
        --license-block-dir: column-reverse;
        --color: lightslategray;
        --license-block-bdr: 1px solid var(--color);
        --license-block-pdin: 10px;

        --mode-ico-col: 36px;
        /* CALENDAR SECTION */
    }
}

@media screen and (min-width: 721px) {
    /* PHOTO & NAME & SPEC */
    :root {
        --fullname-mgin-top: 60%;
    }
}

.practitionersCard {
    display: flex;
    flex-Direction: var(--pract-item-orient);
    flex-wrap: wrap;
    padding: 36px;
    min-width: 500px;
}

.practitionerInfo {
    display: flex;
    flex-Direction: var(--pract-info-orientation);
    width: var(--personal-info-width);
    border: var(--personal-info-border)
}

.photo {
    width: var(--photo-width);
    height: var(--photo-height);    
}

.fullnameArea {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 6px;
}

.fullname {
    /* margin-top: var(--fullname-mgin-top); */
    margin-bottom: 2px;
    text-align: start;
}

.photoFullname {
    display: flex;
    flex-direction: var(--photo-fullname-dir);
    width: 100% !important;
    border-bottom: var(--photo-fullname-bdr);
}

.modeArea {
    display: grid;
    grid-template-columns: minmax(24px, var(--mode-ico-col)) 1fr;
    grid-template-rows: auto;
    justify-content: right;
    margin-right: 16px;
}

.modeIco {
    width: fit-content;
    justify-self: right;
}

.modeName {
    display: grid;
    grid-template-rows: auto 36px;
    grid-template-columns: 1fr;
    justify-content: left;
    text-align: left;
    
}

.moreBtn, .bookNowBtn {
    height: 20px;
    justify-self: left;
    border: 1px solid lightskyblue;
    border-radius: 4px;
    color: lightslategrey;
    font-weight: 200;
    padding: 2px;
}

.calendarIco, .routeIco { 
    width: 30px; 
    height: 30px;
}

.licenseArea, .addressInfoArea {
    display: grid;
    grid-template-columns: var(--license-addr-colwidth) 1fr;
    justify-content: left;
    column-gap: 16px;
}

.licenseCode, .addressInfo {
    text-align: left;
}

.mainBlock {
    display: flex;
    flex-Direction: column;
    width: var(--main-licenseBlock-width);
    max-width: var(--main-block-max-width);
}

.licenseBlock {
    display: flex;
    flex-Direction: var(--license-block-dir);
    width: var(--main-licenseBlock-width);
    border-left: var(--license-block-bdr);
    padding: var(--license-block-pdin);
}
.calendar-routeArea {
    display: grid;
    grid-template-rows: minmax(1px, 1fr);
}